*{ 
    margin :0;
    padding :0;
    box-sizing:border-box;
    text-decoration: none;
}
body
{
    background-color: #000;
}
.about{
    
    background-image: url(lens-reflection-2772434.jpg); 
    background-size:cover;
    background-position: left center;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    padding: 10px ;
    color: white;
    font-size: 50px;
    font-family: Tilt Prism;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 35px;
    font-size: 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Tilt Prism;
}
nav ul li a:hover{
    color:#f9004d;
    transition: 0.3s;
}
span{
    color: #f9004d;
}
h2{
    color: white;
    font-size: 50px;
    padding-top: 2cm;
    padding-left: 3cm;
}
.about p{
    color: white;
    font-size: 30px;
    padding-top: 0.5cm;
    padding-left: 5cm;
    letter-spacing: 1.5px;
    
}
.qual{
    border: 3px;
    border-style: solid;
    border-color:#f9004d;
    width: fit-content;
    padding: 20px;
    margin-left: 8cm;
    margin-top: 2cm;
}
.qual a{
    color: white;

}
.skills{
    border: 3px;
    border-style: solid;
    border-color:#f9004d;
    width: fit-content;
    padding: 20px;
    margin-left: 8cm;
    margin-top: 2cm;
}
.skills a{
    color: white;
}   
.years {
     background-color: #f9004d; 
    border: 3PX solid #eae5e7;
    width: 5cm;
    border-radius: 2cm;
    margin-left: 3cm;
    margin-top: 0.5cm;
    box-shadow: 0px 0px 5px#000,0px 0px 15px #858585;
}
.years h2
{
    font-size: 25px;
    padding:0.2cm 0 0.2cm 0;
    text-align: center;
    
}
.edetails h4{
    color: white;
    margin-left: 4cm;
    margin-top: 0.3cm;
    font-size: 22px;
}
.edetails h2{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.det{
    color: white;
    margin-left: 4cm;
    margin-top: 0.3cm;
    font-size: 20px;
    letter-spacing: 1px;
}
.Skills h2{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.sk{
   background-color: #f9004d; 
   border: 3PX solid #eae5e7;
   width: 4cm;
   border-radius: 2cm;
   margin-left: 3cm;
   margin-top: 0.5cm;
   box-shadow: 0px 0px 5px#000,0px 0px 15px #858585;
}
.sk h2{
    font-size: 35px;
    padding:0.2cm 0 0.2cm 0;
    text-align: center;
    color: white;
    
}
.fle{
    display: flex;

}
.Skills
{
    margin-left: 80px;
}
